<div>
	<div class="form-group">
		<h3>[[ 'po_title' | translate ]]</h3>
	</div>
	<div class="form-group col-lg-12">
		<div class="row">
			<div class="col-lg-12 indent-2">
                <div class="card text-xs-center canvas-border" ng-if="pos.data.length === 0">
                    <div class="card-block">
	                    <div class="card-title text-muted m-b-0">
		                    <a ui-sref="sett.po.action({ action: 'add'})" class="btn btn-link"><span class="lnr lnr-plus-circle"></span> [[ 'add_po' | translate ]]</a>
	                    </div>
                    </div>
                </div>
				<div ng-if="pos.data.length > 0">
					<div class="action-buttons-group">
						<div class="pull-sm-right">
							<a ui-sref="sett.po.action({ action: 'add'})" class="btn btn-link"><span class="lnr lnr-plus-circle"></span> [[ 'add' | translate ]]</a>
						</div>
					</div>
					<table class="table table-hover table-sm table-responsive">
						<tbody>
							<tr class="pointer" ng-repeat="po in pos.data | orderBy: '-creation_datetime' track by $index" ng-click="pos.manage(po.guid)">
								<td><span uib-tooltip="[[ 'primary' | translate ]]" ng-class="{'lnr lnr-checkmark-circle': po.primary }"></span></td>
								<td>[[ po.name ]]</td>
								<td><span uib-tooltip="[[ 'allow_negative' | translate ]]" ng-class="{'lnr lnr-circle-minus': po.allow_negative }"></span></td>
								<td>[[ po.type.name | translate | lowercase ]]</td>
								<td>[[ po.currency.dec | decUnicode ]]</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>