<div>
	<div class="form-group">
		<h3>[[ 'set_cash_title' | translate ]]</h3>
	</div>
	<div class="form-group col-lg-12">
		<div class="row">
			<div class="col-lg-12 indent-2">
                <h5 class="indent-1">[[ 'bank_cards' | translate ]]
                    <small class="nowrap">
						<button class="btn btn-link btn-sm" ng-click="cardsModel.save()">
							<span class="lnr lnr-checkmark-circle"></span> [[ 'save' | translate ]]
						</button>
						<button class="btn btn-link btn-sm" ng-click="cardsModel.reset()">
							<span class="lnr lnr-cross-circle"></span> [[ 'reset' | translate ]]
						</button>
					</small>
                </h5>
                <form class="form-inline">
                    <div ng-repeat="card in cardsModel.cards track by $index">
                        <div class="form-group indent-05">
                            <input type="text" class="form-control form-control-sm" ng-model="card.name" placeholder="[[ 'card_name' | translate ]]" autocomplete="off">
                        </div>
                        <div class="form-group indent-05">
                            <input type="text" class="form-control form-control-sm" ng-model="card.balance" placeholder="[[ 'balance' | translate ]]" autocomplete="off">
                        </div>
	                    <div class="form-group indent-05 pull-right">
		                    <select class="form-control form-control-sm minimal" ng-options="currency.dec | decUnicode for currency in currencies track by currency.code" ng-model="card.currency"></select>
	                    </div>
                        <button type="submit" class="btn btn-link btn-sm indent-05 pull-right" title="[[ 'delete' | translate ]]" ng-if="$index != 0" ng-click="cardsModel.removeCard($index)">
                            <span class="lnr lnr-circle-minus"></span>
                        </button>
                    </div>
                </form>
                <button class="btn btn-link btn-sm" type="button" ng-click="cardsModel.addCard()">
                    <span class="lnr lnr-plus-circle"></span> [[ 'add_more' | translate ]]
                </button>
			</div>
			<div class="col-lg-12 indent-2">
                <h5 class="indent-1"> [[ 'cash' | translate ]]
                    <small class="nowrap">
						<button class="btn btn-link btn-sm" ng-click="cashesModel.save()">
							<span class="lnr lnr-checkmark-circle"></span> [[ 'save' | translate ]]
						</button>
						<button class="btn btn-link btn-sm" ng-click="cashesModel.reset()">
							<span class="lnr lnr-cross-circle"></span> [[ 'reset' | translate ]]
						</button>
					</small>
                </h5>
				<form class="form-inline">
                    <div ng-repeat="cash in cashesModel.cashes track by $index">
                        <div class="form-group indent-05">
                            <input type="text" class="form-control form-control-sm" ng-model="cash.balance" placeholder="[[ 'balance' | translate ]]" autocomplete="off">
                        </div>
	                    <div class="form-group indent-05">
		                    <select class="form-control form-control-sm minimal" ng-options="currency.dec | decUnicode for currency in currencies track by currency.code" ng-model="cash.currency"></select>
	                    </div>
                        <button type="submit" class="btn btn-link btn-sm indent-05" title="[[ 'delete' | translate ]]" ng-if="$index != 0" ng-click="cashesModel.removeCash($index)">
                            <span class="lnr lnr-circle-minus"></span>
                        </button>
                    </div>
                </form>
                <button class="btn btn-link btn-sm" type="button" ng-click="cashesModel.addCash()">
                    <span class="lnr lnr-plus-circle"></span> [[ 'add_more' | translate ]]
                </button>
			</div>
		</div>
	</div>
</div>