<div>
	<div class="form-group">
		<h3 class="text-muted" translate>set_cash_title</h3>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
                <h5 translate>bank_cards</h5>
                <form class="form-inline">
                    <div class="indent-05 form-group" ng-repeat="card in cardsModel.cards track by $index">
                        <div class="form-group small">
                            [[ $index + 1 ]].
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" ng-model="card.name" placeholder="[[ 'card_name' | translate ]]" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" ng-model="card.balance" placeholder="[[ 'balance' | translate ]]" autocomplete="off">
                            <select class="form-control form-control-sm minimal" ng-options="currency.dec | decUnicode for currency in currencies track by currency.code" ng-model="card.currency"></select>
                        </div>
                        <button type="submit" class="btn btn-link btn-sm" title="[[ 'delete' | translate ]]" ng-if="$index != 0" ng-click="cardsModel.removeCard($index)">
                            <span class="lnr lnr-circle-minus"></span>
                        </button>
                    </div>
                </form>
                <button class="btn btn-link btn-sm" type="button" ng-click="cardsModel.addCard()">
                    <span class="lnr lnr-plus-circle"></span> [[ 'add_more' | translate ]]
                </button>
			</div>
			<div class="col-md-4">
                <h5 translate>cash</h5>

			</div>
		</div>
	</div>
</div>