.ui-view-container {
  margin: 20px 0;
}
.animate.hide-show {
  opacity: 1;
}
.animate.hide-show.ng-hide {
  opacity: 0;
}
.animate.hide-show.ng-hide-add,
.animate.hide-show.ng-hide-remove {
  transition: all linear 0.2s;
}
