.ui-view-container {
	margin: 20px 0;
}

.animate {

	&.hide-show {
		opacity: 1;

		&.ng-hide {
			opacity: 0;
		}

		&.ng-hide-add, &.ng-hide-remove {
			transition: all linear 0.2s;
		}
	}
}

.dropdown-item {
	cursor: pointer;
	& > a {
		text-decoration: none;
	}
}

.jumbotron {
	&.jumbotron-light {
		background-color: #fafafc;
	}
	&.jumbotron-small {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

nav {
	& > .container {
		padding: 0 15px;
	}
}

.container {
	padding: 15px;
}