@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(fonts/Roboto-Light-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(fonts/Roboto-Regular-Italic.woff2) format('woff2');
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.ui-view-container {
	margin: 20px 0;
}

.animate {

	&.hide-show {
		opacity: 1;

		&.ng-hide {
			opacity: 0;
		}

		&.ng-hide-add, &.ng-hide-remove {
			transition: all linear 0.2s;
		}
	}
}

.dropdown-item {
	cursor: pointer;
	& > a {
		text-decoration: none;
	}
}

.jumbotron {
	&.jumbotron-light {
		background-color: #fafafc;
	}
	&.jumbotron-small {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

nav {
	& > .container {
		padding: 0 15px;
	}
}

.container {
	padding: 15px;
}

.nav-group-header {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 5px;
	font-size: 90%;
	font-weight: normal;
	letter-spacing: 1px;
	color: #aeaeae;
	text-transform: uppercase;
	list-style: none;
}

.nav-item.active {
	& > .nav-link {
		background-color: rgba(2, 117, 216, 0.52);
		color: #ffffff;
	}
}

@indentFactor: 5;
.indent-05 {
	margin-bottom: 0.5em !important;
}
.buildIndentClasses(@num) when (@num =< @indentFactor) {
	.indent-@{num} {
		margin-bottom: @num * 1em !important;
	}
	.buildIndentClasses((@num + 1));
}
.buildIndentClasses(@num) when (@num > @indentFactor) {}
.buildIndentClasses(1);

select {
	&.form-control-sm {
		height: 2.27em;
	}

	background: #fff url(images/lnr-arrow-down.svg) no-repeat 96% 50% !important;
	background-size: 0.9em !important;
    margin: 0;
    overflow: hidden;
    box-shadow: none;
	cursor: pointer;
	line-height: normal !important;
    -webkit-appearance: none;
   -moz-appearance: none;
	appearance: none;

	&.form-control:disabled {
		background-color: #eceeef !important;
	}
}

.modal-content {
	border: none;
	border-radius: 0.2em;
}

.btn-xs {
	padding: .25rem .75rem;
	font-size: 0.65rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.canvas-border {
	border: .0625rem dashed #e5e5e5;
}