<!DOCTYPE html>
<html ng-app="CashAppAuth" ng-cloak>
<head lang="en">
    <meta charset="UTF-8">
    <title>[[ title ]]</title>
    {% load staticfiles %}
	<script type="text/javascript" src="{% static "libs/angular-1.5.0-beta.min.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/angular-ui-router-0.2.15.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-translate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-translate-loader-static-files.min.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/angular-animate.min.js" %}"></script>

	<script type="text/javascript" src="{% static "app/services-module.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/validate-service.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/page-title-directive.js" %}"></script>

	<script type="text/javascript" src="{% static "app/auth-module.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/auth-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/redirect-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/signin-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/signup-controller.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "site.css" %}" />
	{% block resources %}

	{% endblock %}
</head>

<body>
<nav class="navbar">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">CashApp</a>
		</div>
	</div>
</nav>
<div class="container">
	<input type="hidden" id="redirect_url" autocomplete value="{{ redirect_url }}">
    {% block content %}

    {% endblock %}
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% block footer %}
                {% endblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</footer>
</body>
</html>