<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4">
		<form novalidate="" name="signinModel.form" ng-submit="signinModel.signin()" class="form-horizontal">
            {% csrf_token %}
			<div class="form-group">
				<input type="text" name="username" placeholder="[[ 'username'|translate ]]" autocomplete="off" required autofocus ng-model="signinModel.data.username" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" name="password" placeholder="[[ 'password'|translate ]]" autocomplete="off" required ng-model="signinModel.data.password" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" value="[[ 'sign_in'|translate ]]" class="btn btn-primary-outline pull-md-right">
			</div>
		</form>
	</div>
	<div class="col-md-4">

	</div>
</div>