<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4">
		<form novalidate="" name="loginModel.form" ng-submit="loginModel.signin()" class="form-horizontal">
			<div class="form-group">
				<input type="text" name="username" placeholder="username" autocomplete="off" required autofocus ng-model="loginModel.data.username" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" name="password" placeholder="password" autocomplete="off" required ng-model="loginModel.data.password" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" value="sign in" class="btn btn-primary-outline">
			</div>
		</form>
	</div>
	<div class="col-md-4">

	</div>
</div>