<ui-view>
	<div class="form-group">
		<h3>
            <span ng-if="isRoot || !category.parent_guid" class="action-text" ng-click="up()">[[ 'categories' | translate ]]</span>
            <span ng-if="category.parent_guid">
                <small class="action-text" ng-click="up(true)"><span class="lnr lnr-layers"></span></small>
                <small ng-if="!isRoot"><span class="lnr lnr-chevron-right"></span></small>
                <span class="action-text" ng-click="up()">[[ category.parent.name ]]</span>

            </span>
            <small ng-if="!isRoot"><span class="lnr lnr-chevron-right"></span></small>
            <span>[[ category.name ]]</span>
        </h3>
	</div>
	<div class="form-group col-lg-12">
		<div class="row">
			<div class="col-lg-12 indent-2">
                <div class="card text-xs-center canvas-border" ng-if="category.subs.length === 0">
                    <div class="card-block">
	                    <div class="card-title text-muted m-b-0">
		                    <button ng-click="manage($event)" class="btn btn-link"><span class="lnr lnr-plus-circle"></span> [[ 'add_category' | translate ]]</button>
	                    </div>
                    </div>
                </div>
                <div ng-if="category.subs.length > 0">
                    <div class="action-buttons-group">
						<div class="pull-sm-right">
							<button ng-click="manage($event)" class="btn btn-link"><span class="lnr lnr-plus-circle"></span> [[ 'add' | translate ]]</button>
						</div>
					</div>
                    <table class="table table-hover table-sm table-responsive">
                        <tbody>
                            <tr class="cursor-pointer" ng-repeat="category in category.subs | orderBy: 'name' track by $index" ng-click="details($event, category.guid)">
                                <td></td>
                                <td><span class="action-text" ng-click="manage($event, category.guid)">[[ category.name ]]</span></td>
                                <td>[[ category.subs_count > 0 ? category.subs_count : '' ]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
	</div>
</ui-view>