<div>
	<div class="form-group">
		<h3>
			[[ 'expense_item_title' | translate ]]
			<small>
				<a ui-sref="my.expenseItem.action({ action: 'add' })" uib-tooltip="[[ 'add_expense_item' | translate ]]" class="btn btn-link"><span class="lnr lnr-plus-circle"></span></a>
			</small>
		</h3>
	</div>
	<div class="form-group col-lg-12">
		<div class="row">
			<div class="col-lg-12 indent-2">
                <div class="form-group">
	                <search-input ng-model="expenseItemQuery" input-name="name"></search-input>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-lg-9">
				<div class="form-group">
					<div align="center" ng-if="expenseItems.length == 0">
						[[ 'nothing_is_found' | translate ]]
					</div>
					<ul class="icon-list" ng-if="expenseItems.length > 0">
		                <li ng-repeat="expenseItem in expenseItems | orderBy: '-creation_datetime' | limitTo: 5 track by $index">
		                    <div class="description m-l-0">
		                        <div class="title">
			                        <span class="action-text">
				                        <a ui-sref="my.expenseItem.action({ action: 'edit', guid: expenseItem.guid })">[[ expenseItem.name ]]</a>
				                        <span class="small text-muted">[[ expenseItem.supplier.name ]]</span>
			                        </span>
		                        </div>
		                        <small>[[ expenseItem.category.name ]]</small>
		                    </div>
	                        <div class="value">
		                        <div class="small text-muted">
		                            [[ expenseItem.description | limitTo: '20' ]][[ expenseItem.description.length > 20 ? '...' : '' ]]
		                            <span uib-tooltip="[[ expenseItem.description ]]" tooltip-placement="bottom" ng-if="expenseItem.description.length > 20" class="lnr lnr-question-circle action-text"></span>
		                        </div>
	                            <strong>[[ expenseItem.creation_datetime | date: 'dd/MM/yyyy HH:mm' ]]</strong>
	                        </div>
		                </li>
	                </ul>
				</div>
			</div>
			<div class="col-md-4 col-lg-3">
				<ul class="icon-list">
		            <li><label class="text-uppercase text-muted">[[ 'recent' | translate ]]</label></li>
	                <li ng-repeat="expenseItem in recentExpenseItems | orderBy: '-creation_datetime' | limitTo: 5 track by $index">
	                    <div class="description m-l-0">
	                        <div class="title"><span class="action-text"><a ui-sref="my.expenseItem.action({ action: 'edit', guid: expenseItem.guid })">[[ expenseItem.name ]]</a></span></div>
	                        <small>
	                            [[ expenseItem.description | limitTo: '20' ]][[ expenseItem.description.length > 20 ? '...' : '' ]]
	                            <span uib-tooltip="[[ expenseItem.description ]]" tooltip-placement="bottom" ng-if="expenseItem.description.length > 20" class="lnr lnr-question-circle action-text"></span>
	                        </small>
	                    </div>
	                </li>
                </ul>
			</div>
		</div>
	</div>
</div>