<!DOCTYPE html>
<html ng-app="CashAppMy" ng-cloak>
<head lang="en">
    <meta charset="UTF-8">
    <title translate>[[ title ]]</title>
    {% load staticfiles %}
	<script type="text/javascript" src="{% static "libs/chart.min.js" %}"></script>

	<script type="text/javascript" src="{% static "libs/angular-1.5.0-beta.min.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/angular-ui-router-0.2.15.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-translate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-translate-loader-static-files.min.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/angular-local-storage.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/angular-animate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-ui.min.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/angular-toastr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-loading-bar.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-ui-switch.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/angular-ui-datetimepicker.min.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/angular-chart.min.js" %}"></script>

	<script type="text/javascript" src="{% static "app/services-module.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/common-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/validate-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/toastr-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/po-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/po-types-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/currency-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/transaction-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/modal-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/po-register-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/category-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/hotkey-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/supplier-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/search-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/measure-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/services/expense-item-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/filters/dec-unicode-filter.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/page-title-directive.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/datetimepicker-directive.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/search-input-directive.js" %}"></script>

	<script type="text/javascript" src="{% static "app/my-module.js" %}"></script>
	<script type="text/javascript" src="{% static "app/directives/po-primarity-icon-directive.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/money-input-directive.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/transaction-icon-directive.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/transaction-value-directive.js" %}"></script>
    <script type="text/javascript" src="{% static "app/directives/ng-currency-filter.js" %}"></script>
    <script type="text/javascript" src="{% static "app/services/chart-service.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/dashboard-controller.js" %}"></script>
    <script type="text/javascript" src="{% static "app/controllers/po-controller.js" %}"></script>
    <script type="text/javascript" src="{% static "app/controllers/po-modal-controller.js" %}"></script>
    <script type="text/javascript" src="{% static "app/controllers/po-details-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/transaction-income-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/transaction-expense-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/category-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/category-modal-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/expense-item-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/expense-item-modal-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/supplier-controller.js" %}"></script>
	<script type="text/javascript" src="{% static "app/controllers/supplier-modal-controller.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "site.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "icons.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "toastr.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "angular-loading-bar.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "switcher.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "chart.css" %}" />
	{% block resources %}

	{% endblock %}
</head>

<body>
<nav class="navbar">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">CashApp</a>
		</div>
		<div class="pull-xs-right">
			<a href="/my/" class="btn btn-link"><span class="lnr lnr-user"></span></a>
			<a href="/sett/" class="btn btn-link"><span class="lnr lnr-cog"></span></a>
			<a href="/auth/signout/" class="btn btn-link"><span class="lnr lnr-exit"></span></a>
		</div>
	</div>
</nav>
<div class="container">
    {% block content %}

    {% endblock %}
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% block footer %}
                {% endblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</footer>
</body>
</html>