<div class="row">
    <div class="col-md-1">
	    <div class="menu" align="center">
			<div class="small">
				<span class="nav-group-header">[[ 'menu' | translate ]]</span>
		    </div>
			<div class="btn-group">
				<button ui-sref="my.dashboard" class="btn btn-link"><span class="lnr lnr-screen"></span></button>
				<button ui-sref="my.po" class="btn btn-link"><span class="lnr lnr-book"></span></button>
				<button ui-sref="my.category" class="btn btn-link"><span class="lnr lnr-layers"></span></button>
				<button ui-sref="my.expenseItem" class="btn btn-link"><span class="lnr lnr-dice"></span></button>
				<button ui-sref="my.supplier" class="btn btn-link"><span class="lnr lnr-users"></span></button>
			</div>
	    </div>
    </div>
    <div class="col-md-11">
		<div ui-view></div>
    </div>
</div>
