<div>
	<div class="form-group">
		<h3>
			<small>
				<span ui-sref="my.po" class="action-text"><span class="lnr lnr-book"></span></span>
				<span class="lnr lnr-chevron-right"></span>
			</small>
			<po-primarity-icon is-primary="po.primary"></po-primarity-icon>
			[[ po.name ]]
			<small>[[ po.type.name | translate ]]</small>
			<div class="btn-group icon-btn-group">
				<button type="button" class="btn btn-link" uib-tooltip="[[ 'income' | translate ]]" ui-sref="my.po.details.income">
					<span class="lnr lnr-arrow-down-circle cursor-default"></span>
				</button>
				<button type="button" class="btn btn-link" uib-tooltip="[[ 'expense' | translate ]]" ui-sref="my.po.details.expense">
					<span class="lnr lnr-arrow-up-circle cursor-default"></span>
				</button>
			</div>
			<div class="pull-md-right">
				<span>[[ register.value | ngCurrency: po.currency.code : po.currency.dec ]]</span>
			</div>
		</h3>
	</div>
	<ui-view class="form-group col-lg-12">
        <div class="col-lg-4">
            <ul class="icon-list">
	            <li><label class="text-uppercase text-muted">[[ 'recent_transactions' | translate ]]</label></li>
                <li ng-repeat="transaction in transactions | orderBy: '-date' | limitTo: 5 track by $index">
                    <transaction-icon type="transaction.type"></transaction-icon>
                    <div class="description">
                        <div class="title"><span class="action-text">[[ transaction.date | date: 'dd/MM/yyyy HH:mm']]</span></div>
                        <small>
                            [[ transaction.description | limitTo: '16' ]][[ transaction.description.length > 16 ? '...' : '' ]]
                            <span uib-tooltip="[[ transaction.description ]]" tooltip-placement="bottom" ng-if="transaction.description.length > 16" class="lnr lnr-question-circle action-text"></span>
                        </small>
                    </div>
                    <div class="value">
                        <div class="small text-muted">[[ transaction.payment_object.currency.code ]]</div>
                        <transaction-value value="transaction.value" type="transaction.type"></transaction-value>
                    </div>
                </li>
            </ul>
        </div>
		<div class="col-lg-4">

		</div>
		<div class="col-lg-4">
			<canvas class="chart chart-line" chart-data="expenseTransactionsChart.data"
		        chart-labels="expenseTransactionsChart.labels" chart-series="expenseTransactionsChart.series"
                chart-options="expenseTransactionsChart.options" chart-colors="expenseTransactionsChart.colors" height="100">
			</canvas>
            <canvas class="chart chart-line" chart-data="incomeTransactionsChart.data"
		        chart-labels="incomeTransactionsChart.labels" chart-series="incomeTransactionsChart.series"
                chart-options="incomeTransactionsChart.options" chart-colors="incomeTransactionsChart.colors" height="100">
			</canvas>
		</div>
	</ui-view>
</div>