<div>
	<h5 class="modal-title">
		[[ 'expense_transaction' | translate ]]
		<span>
			<button type="button" class="btn btn-link" ng-click="createTransaction()">
				<span class="lnr lnr-plus-circle"></span> [[ 'create' | translate ]]
			</button>
		</span>
		<span class="pull-sm-right">
			<button type="button" class="btn btn-link" ui-sref="my.po.details({ guid: po.guid })">
				<span class="lnr lnr-cross"></span>
			</button>
		</span>
	</h5>
</div>

<form novalidate name="transactionForm">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="form-control-label">[[ 'date' | translate ]]:</label>
		                <datetimepicker ng-model="transaction.date"></datetimepicker>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="form-control-label">[[ 'supplier' | translate ]]</label>
						<input class="form-control form-control-sm"
						       ng-model="transaction.supplier"
						       typeahead-no-results="supplierNoResults"
						       typeahead-template-url="supplierTypeaheadTemplate"
						       ng-model-options="{ debounce: 1000 }"
						       uib-typeahead="supplier as supplier.name for supplier in loadSuppliers($viewValue)"
						       required name="supplier" autocomplete="off">
						<span class="no-result" ng-if="supplierNoResults">[[ 'nothing_is_found' | translate ]]</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="form-control-label">[[ 'description' | translate ]]:</label>
						<textarea class="form-control form-control-sm" ng-model="transaction.description" maxlength="1000"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="form-control-label">[[ 'expense_item_title' | translate ]]</label>
						<input class="form-control form-control-sm"
						       ng-model="newExpenseItem"
						       typeahead-no-results="newExpenseItemNoResults"
						       typeahead-template-url="expenseItemTypeaheadTemplate"
						       ng-model-options="{ debounce: 1000 }"
						       uib-typeahead="expenseItem as expenseItem.name for expenseItem in loadExpenseItems($viewValue)"
						       typeahead-on-select="onNewExpenseItemSelect($item, $model, $label, $event)"
						       name="expenseItem" autocomplete="off">
						<span class="no-result" ng-if="newExpenseItemNoResults">[[ 'nothing_is_found' | translate ]]</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div>
						<label class="pull-sm-right">[[ getTransactionSum() | ngCurrency: po.currency.code : po.currency.dec ]]</label>
					</div>
					<div class="row transaction-expense-item" ng-repeat="expenseItem in transaction.expense_items track by $index">
						<div class="form-group">
							<div class="col-sm-12">
								<span class="text-muted">[[ expenseItem.category ]]</span> [[ expenseItem.name ]]
								<small class="text-muted">
	                                [[ expenseItem.description | limitTo: '16' ]][[ expenseItem.description.length > 16 ? '...' : '' ]]
		                            <span uib-tooltip="[[ expenseItem.description ]]" tooltip-placement="bottom" ng-if="expenseItem.description.length > 16" class="lnr lnr-question-circle action-text"></span>
		                        </small>
								<small class="pull-xs-right lnr lnr-cross action-text close-icon" ng-click="removeTransactionExpenseItem(expenseItem.guid)"></small>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-6 col-lg-6 col-xl-4">
								<money-input name="expenseItem-price-[[ $index ]]" class="form-control-xs border-on-focus" ng-model="expenseItem.price" currency="expenseItem.currency"></money-input>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-6 col-lg-6 col-xl-4">
								<div class="input-group">
									<input class="form-control form-control-xs border-on-focus" ng-model="expenseItem.count" required name="expenseItem-count-[[ $index ]]" />
									<span class="input-group-addon">[[ expenseItem.measure.code | translate ]]</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-12 col-lg-6 col-xl-4">
								<div class="pull-sm-right">
									[[ (expenseItem.price * expenseItem.count) || 0 | ngCurrency: po.currency.code : po.currency.dec ]]
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>